<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Děkujeme, že jste nám zanechali váš email: <%= @user.email %></h1>
<p>
  Nyní od nás budete dostávat měsíční oběžníky o tom, jak projekt aesoft pokročil.<br/>
</p>
<p>
  Rovněž budete informováni, až bude náš web na adrese <%= @url %> spuštěn.
</p>
<p>Vážíme si vaší podpory již v počátku našeho projektu a vězte, že vám ji nezapomeneme.</p>
<br>
<p>Hezký zbytek dne</p>
</body>
</html>